@media (max-width: 1200px)
  .container
    max-width: 960px
  .swiper-container
    width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        object-fit: cover
        width: 100%
  .card
    width: 230px
    height: 230px
  .packages
    padding-top: 0
    &__title
      margin-bottom: 55px
    &-cell
      &__image
        &--small
          height: 233.33px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .search
    &__input
      width: 340px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15p
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      gap: 30px
  .swiper-container
    width: 100%
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        &:after,
        &:before
          display: none
  .activities
    &-wrapper
      flex-wrap: wrap
      justify-content: space-evenly
      gap: 20px
  .card
    width: 340px
    height: 255px
  .packages
    &-cell
      &--1
        display: none
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-column: span 5
        grid-row: 4
    &-disclaimer
      &__wrapper
        display: grid
        grid-template-columns: 136px 1fr 1fr 1fr 136px
        grid-template-rows: 1fr 1fr
        margin-top: 55px
      &__list
        grid-column: 2 / 5
        display: flex
        justify-content: center
        align-items: center
      &__image
        grid-column: 3 / 4
        margin-left: 5px
        margin-top: 10px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 100
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      height: 11px
      width: 16px
      padding: 0
      background-color: white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .swiper-container
    height: 350px
  .hotel
    &-right
      min-height: 450px
      gap: 0
      flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-wrap: wrap
      justify-content: flex-start
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 26px
      text-align: center
      text-transform: uppercase
      margin-bottom: 40px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after,
        &:before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -75px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -75px
          transform: translate(50%, 0)
  .card
    width: 48%
    height: 255px
  .packages
    &__title
      font-size: 30px
      margin-bottom: 40px
    &-cell
      &__image
        &--small
          height: 216px
    &-info
      &__price
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        margin-bottom: 10px
        &-strong
          margin: 0
      &__booking
        display: block
      &__button
        width: 100%
  .footer
    &-wrapper
      grid-row-gap: 20px
    &__input
      flex-basis: 100%
    &-disclaimer
      &__wrapper
        display: none
@media  (max-width: 576px)
  .logo
    width: 99px
  .container
    width: 85%
  .slider
    height: 250px
  .hotel
    &_slider
      margin-bottom: 20px
  .newsletter
    padding: 80px 0 90px 0
  .subscribe
    width: 100%
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin-bottom: 30px
  .activities
    padding-top: 0px
    &__title
      margin-bottom: 30px
  .card
    width: 100%
  .packages
    &__title
      font-size: 25px
      margin-bottom: 30px
    &-cell
      &--five-star
        display: none
    &-wrapper
      gap: 15px
      grid-template-columns: 1fr
      grid-template-rows: 3fr
    &-info
      &__booking
        &--common
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__price
        display: flex
        flex-direction: column
        margin-bottom: 6px
        align-items: flex-start
        &-sale
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 18px
          text-decoration-line: line-through
        &-strong
          font-style: normal
          font-weight: bold
          font-size: 20px
          line-height: 30px
          margin-top: 5px
      &__button
        max-width: 130px
  .footer
    padding-top: 30px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 23px
      text-transform: uppercase
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      display: none
    &__social
      &-network
        grid-row: 1
        grid-column: 1
    &__additional
      grid-row: 2
      grid-column: 1
    &__categories
      grid-row: 3
      grid-column: 1
    &__legal
      grid-row: 4
      grid-column: 1
    &__contact
      &-details
        grid-row: 5
        grid-column: 1
      &-form
        grid-row: 6
        grid-column: 1
    &__form
      display: flex
      flex-direction: column
      align-items: start
    &__button
      order: 2
      width: 100%
    &__input
      padding-left: 23px
      padding-top: 18px
      padding-bottom: 18px
      width: 100%
    &__message
      width: 100%
    &__info
      margin-bottom: 15px

@media  (max-width: 320px)
  .swiper-container
    height: 200px
    margin-bottom: 20px
  .hotel
    padding-bottom: 50px
    &_slider
      margin-bottom: 10px
  .newsletter
    padding: 70px 0 80px 0
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-style: normal
        font-weight: 500
        font-size: 30px
        line-height: 38px
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      text-align: center
      text-transform: uppercase
      margin-bottom: 25px
  .activities
    padding-top: 0px
    &__title
      margin-bottom: 30px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
  .packages
    &-info
      &__button
        max-width: 125px
