@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        object-fit: cover
        width: 100%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .search
    &__input
      width: 340px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15p
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      gap: 30px
  .slider
    width: 100%
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      height: 11px
      width: 16px
      padding: 0
      background-color: white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .slider
    height: 350px
  .hotel
    &-right
      min-height: 450px
      gap: 0
      flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-wrap: wrap
      justify-content: flex-start
@media  (max-width: 576px)
  .logo
    width: 99px
  .container
    width: 85%
  .slider
    height: 250px
  .hotel
    &_slider
      margin-bottom: 20px
  .newsletter
    padding: 80px 0 90px 0
  .subscribe
    width: 100%
@media  (max-width: 320px)
  .slider
    height: 200px
    margin-bottom: 20px
  .hotel
    padding-bottom: 50px
    &_slider
      margin-bottom: 10px
  .newsletter
    padding: 70px 0 80px 0
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-style: normal
        font-weight: 500
        font-size: 30px
        line-height: 38px
